<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en-us">

<head>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Template site title
   ================================================== -->
<title>Bicycle Sharing</title>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="" />
<meta name="description" content="" />

<!-- Bootstrap CSS
   ================================================== -->
<link rel="stylesheet" href="css/bootstrap.min.css" />

<!-- Main CSS
   	================================================== -->
<link rel="stylesheet" href="css/style.css" />

<link rel="stylesheet" type="text/css" href="css/default.css" />
</head>

<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

	<!-- Navigation section
================================================== -->

	<section class="navbar navbar-fixed-top custom-navbar"
		role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon icon-bar"></span> <span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="#home" class="smoothScroll navbar-brand">BICYCLE
					SHARING</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">

					<li><a href="index.html" class="smoothScroll">HOME</a></li>
					<li><a href="index.html#work" class="smoothScroll">HOW IT WORKS</a></li>
					<li><a href="index.html#about" class="smoothScroll">ABOUT</a></li>
					<li><a href="index.html#portfolio" class="smoothScroll">GALLERY</a></li>
					<li><a href="index.html#plan" class="smoothScroll">PLANS</a></li>
					<li><a href="index.html#contact" class="smoothScroll">CONTACT</a></li>
				</ul>
			</div>

		</div>
	</section>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-7">
		<form action="#" th:action="@{/register}" th:object="${userData}" method="post" class="register">
		<h1>Registration</h1>
		<fieldset class="row1">
			<legend>Account Details </legend>
			<div class="row">
		<div class="col-md-6">
		
			<p>
				<label>Email:<sup>*</sup>
				</label> <input name="email" type="text" th:field="*{email}" class="form-control"
					placeholder="Enter Email" required="required" /> </p>
					</div>
					
					<div class="col-md-6">
					<p>
					<label>Repeat
					email:<sup>*</sup>
				</label> <input name="confirmUserEmail" type="text" class="form-control"
					placeholder="Re-enter Email" required="required" />


			</p>

		</div>
		</div>
		</fieldset>
		<div class="row">
		<div class="col-md-6">
		<fieldset class="row2">
			<legend>Personal Details </legend>
			<p>
				<label>First Name:<sup>*</sup>
				</label> <input type="text" name="firstName"  th:field="*{firstName}" class="form-control"
					placeholder="FirstName" required="required" />
			</p>
			<p>
				<label>Last Name: </label> <input name="lastName" th:field="*{lastName}" 
					class="form-control" placeholder="LastName" required="required" />
			</p>
			<p>
				<label>Phone:<sup>*</sup>
				</label> <input name="mobileNo" th:field="*{mobileNo}"  class="form-control"
					placeholder="Enter PH.No" maxlength="10" />
			</p>
			<p>
				<label>Proof Type:<sup>*</sup>
				</label> <select class="form-control" name="proofType" th:field="*{proofType}"  required="required">
					<option value="">Select Proof Type:</option>
					<option value="drivingLicence" th:value="${'drivingLicence'}" class="form-control">Driving Licence</option>
					<option value="voterID" th:value="${'voterID'}" class="form-control">Voter ID</option>
					<option value="aadharCard" th:value="${'aadharCard'}" class="form-control">Aadhar Card</option>
				</select>
			</p>
			<p>
				<label>Proof.No:<sup>*</sup>
				</label> <input name="proofNo" th:field="*{proofNo}" class="form-control"
					placeholder="Enter proof.No" />
			</p>
			<p>
				<label>Document:<sup>*</sup></label> <input name="document" th:field="*{document}"
					class="form-control" id="exampleInputFile" type="file" />
			</p>
		</fieldset>
		</div>
		<div class="col-md-6">
		<fieldset class="row3">
			<legend>Further Information </legend>
			<p>
				<label>Birthdate:<sup>*</sup>
				</label> <input type="date" name="dateOfBirth" th:datetime="*{dateOfBirth}" class="form-control" />
			</p>
			<p>
				<label>Address:<sup>*</sup></label>
				<textarea name="userAddress" th:field="*{userAddress}" class="form-control" rows="4" cols="10"
					placeholder="Enter Address.." required="required"></textarea>

			</p>

			 <p class="agreement">
				<input type="checkbox" value="" /> <label><sup>*</sup>I
					accept the <a href="#">Terms and Conditions</a></label>
			</p>
	
			<p class="agreement"><label>(<span style="color: red;">*</span>) Indicates mandatory field</label></p>
			<div>
			<button class="button">Register &raquo;</button>
			<input type="reset" class="button" />
		</div>
		</fieldset>
		</div>
		</div>
	</form>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
	
</body>
</html>





